AVDOMAIN="{{ zimbra_domain }}"
AVUSER="{{ zimbra_admin_user }}@{{ zimbra_domain }}"
CREATEADMIN="{{ zimbra_admin_user }}@{{ zimbra_domain }}"
CREATEADMINPASS="{{ zimbra_admin_password }}"
CREATEDOMAIN="{{ zimbra_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
ENABLEDEFAULTBACKUP="yes"
EXPANDMENU="no"
HOSTNAME="{{ zimbra_fqdn }}"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPBESSEARCHSET="set"
LDAPDEFAULTSLOADED="1"
LDAPHOST="{{ zimbra_fqdn }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"

LDAPROOTPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPADMINPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPPOSTPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPREPPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPAMAVISPASS="{{ zimbra_random_chars_2.stdout }}"
ldap_bes_searcher_password="{{ zimbra_random_chars_2.stdout }}"
ldap_nginx_password="{{ zimbra_random_chars_2.stdout }}"

MAILBOXDMEMORY="{{ zimbra_mailboxd_memory.stdout }}"
MAILPROXY="TRUE"
MODE="https"
MYSQLMEMORYPERCENT="30"

ONLYOFFICEHOSTNAME="{{ zimbra_fqdn }}"
ONLYOFFICESTANDALONE="no"

POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"

PROXYMODE="https"

REMOVE="no"
RUNARCHIVING="yes"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"

SERVICEWEBAPP="yes"

SMTPDEST="{{ zimbra_admin_user }}@{{ zimbra_domain }}"
SMTPHOST="{{ zimbra_fqdn }}"
SMTPNOTIFY="yes"
SMTPSOURCE="{{ zimbra_admin_user }}@{{ zimbra_domain }}"

SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ zimbra_fqdn }}"

SPELLURL="http://{{ zimbra_fqdn }}:7780/aspell.php"

STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"

SYSTEMMEMORY="{{ zimbra_system_memory.stdout }}"

TRAINSAHAM="ham.{{ zimbra_random_chars_1.stdout }}@{{ zimbra_domain }}"
TRAINSASPAM="spam.{{ zimbra_random_chars_1.stdout }}@{{ zimbra_domain }}"
VIRUSQUARANTINE="virus-quarantine.{{ zimbra_random_chars_1.stdout }}@{{ zimbra_domain }}"

UIWEBAPPS="yes"
UPGRADE="yes"
USESPELL="yes"
VERSIONUPDATECHECKS="TRUE"

ZIMBRA_REQ_SECURITY="yes"

ldap_dit_base_dn_config="cn=zimbra"

mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="{{ zimbra_random_chars_2.stdout }}"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"

postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"

ssl_default_digest="sha256"

zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"

zimbraIPMode="ipv4"

zimbraMailProxy="TRUE"

zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128 {{ ansible_default_ipv4.address }}/32"

zimbraPrefTimeZoneId="{{ zimbra_timezone }}"
zimbraReverseProxyLookupTarget="TRUE"

zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="{{ zimbra_admin_user }}@{{ zimbra_domain }}"
zimbraVersionCheckNotificationEmailFrom="{{ zimbra_admin_user }}@{{ zimbra_domain }}"
zimbraVersionCheckSendNotifications="TRUE"

zimbraWebProxy="TRUE"

zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
zimbra_server_hostname="{{ zimbra_fqdn }}"

INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-logger zimbra-mta zimbra-store zimbra-apache zimbra-spell zimbra-convertd zimbra-memcached zimbra-proxy zimbra-archiving zimbra-onlyoffice zimbra-license-daemon zimbra-snmp"
